/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2019, 20:54:50
    Author     : Wandes
*/


.carousel-inner{
 height: auto;
}
.md-picture {
  vertical-align: middle;
  height: 300px;
}

.md-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}
.md-avatar.size-1 {
  width: 40px;
  height: 40px;
}
.md-avatar.size-2 {
  width: 70px;
  height: 70px;
}
.md-avatar.size-3 {
  width: 90px;
  height: 90px;
}
.md-avatar.size-4 {
  width: 110px;
  height: 110px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin : auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btnMenu{
    border-radius: 0px;
    border-left: 3px solid lightgray;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.btnMenu:hover{
    border-color: orange;
}
.stdBG{
    
}
.stdinput{
    color: #EFEFEF;
} 

.navbar{
    background-image: linear-gradient(to right, #113BC2, #19B2FF, #25D5E6);
}

p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
    color: grey;
}

#conteudo{
        /*border: solid 3px green;*/
	min-height: 100%;
        /*margin-bottom: 50px;*/
        
}

#principal{
        /*border: solid 2px orange;*/
	/*overflow: auto;*/
	padding-bottom: 50px;
}
/*
#rodape{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    border: solid 1px red;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
}
*/
/*
button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 a{
    text-decoration : none;
    padding: 5px;
   }

  a :link{
     
     color: #b9c941;
  }

   a:visited{
     
     color: #c0c0c0;
  }

   a:hover{
     
     color: #FFF;
     background: #6d790f;
  }

/*links ativos, quando clicado*/
 /*a:active{
     
     color: #e4f371;
  }*/