/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2019, 20:54:50
    Author     : Wandes
*/


thead {color:black;}
tbody {color:blue;}

table, th, td {
  border: 0.5px solid black;
}
h2{
    color: red;
}
